<h1>Welcome to FIND MY CAR!!!</h1>
<p>
	You've found my new web page. Its super awesome. 
	<%= link_to "FIND MY CAR", "http://ryanmara.com" %>
	application.
</p>
<p>
	<%= link_to "FIND MY CAR", "#" %>
</p>


	

